html, body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto Slab', serif;
	overflow: hidden;
	z-index: -2;
}





/*  Map Structure  */

#map_canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}



#shield {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 90;
	background-color: red;
}



#group-left-1 {
	position: absolute;
	left: 0px;
	top: 15px;
	-webkit-transition: all 300ms;
}

#group-left-2 {
	position: absolute;
	left: 0px;
	top: 80px;
	-webkit-transition: all 300ms;
}

#group-right {
	position: absolute;
	right: 0;
	top: 15px;
	-webkit-transition: all 300ms;
}

#group-bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	-webkit-transition: all 300ms;
}



.menu {
	width: 342px;
	height: 100%;
	background-color: #FFF;
	border-left: 1px #FFF solid;
	z-index: 100;
}

.menu .scroller{
	height:768px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.shadow {
	width: 342px;
	height: 100%;
	z-index: 98;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}



.button-open-left {
	z-index: 99;
	left: 327px !important;
	-webkit-transition: all 300ms;
}

.menu-open-left {
	left: 0 !important;
	-webkit-transition: all 300ms;
}

.button-open-left .button,
.button-open-left .group {
	-moz-border-radius: 0px 3px 3px 0px !important;
	-webkit-border-radius: 0px 3px 3px 0px !important;
	border-radius: 0px 3px 3px 0px !important;
}



.button-open-right {
	z-index: 99;
	right: 327px !important;
	-webkit-transition: all 300ms;
}

.menu-open-right {
	right: 0 !important;
	-webkit-transition: all 300ms;
}

.button-open-right .button,
.button-open-right .group {
	-moz-border-radius: 3px 0px 0px 3px !important;
	-webkit-border-radius: 3px 0px 0px 3px !important;
	border-radius: 3px 0px 0px 3px !important;
}



.button-open-bottom {
	z-index: 99;
	bottom: 152px !important;
	-webkit-transition: all 300ms;
}

.menu-open-bottom {
	bottom: 0 !important;
	-webkit-transition: all 300ms;
}

.button-open-bottom .button,
.button-open-bottom .group {
	-moz-border-radius: 3px 3px 0px 0px !important;
	-webkit-border-radius: 3px 3px 0px 0px !important;
	border-radius: 3px 3px 0px 0px !important;
}




/*  MAIN MENU  */
#main-menu,
#main-menu-shadow {
	position: absolute;
	left: -348px; /* +5px für shadow! */
	top: 0;
	-webkit-transition: all 300ms;
	padding-top: 28px;
}

#main-menu,
#main-menu a {
	color: #323232;
	text-decoration: none;
}

#main-menu .selected a {
	color: #20a2bd;
}

#main-menu ul,
#main-menu li {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
}

#main-menu ul {
	border-bottom: 1px solid #ccc;
	margin: 0px 15px 25px 15px;
	padding-bottom: 20px;
}

#main-menu ul:last-child {
	border: none;
	padding-bottom: 50px;
}

#main-menu ul ul {
	margin: 0;
	padding: 0 !important;
	border: none;
}

#main-menu ul ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 25px;
	font-weight: 300;
}

#main-menu li {
	border: none !important;
}

#main-menu li a {
	display: block;
	background-repeat: no-repeat;
	background-size: 50px !important;
	padding: 15px 0 15px 45px;
	background-position: 0px 3px !important;
}








/*  OPTION MENU  */
#option-menu,
#option-menu-shadow {
	position: absolute;
	right: -348px;
	top: 0;
	-webkit-transition: all 300ms;
}

#option-menu img {
	width: 342px;
}

#main-menu{
	height:auto;
}




/*  TOPIC MENU  */
#topic-menu,
#topic-menu-shadow {
	position: absolute;
	left: -348px;
	top: 0;
	padding-top: 34px;
	background-color: #333;
	border-left: 1px #4c4c4c solid;
	-webkit-transition: all 300ms;
	overflow: hidden;
}

#topic-menu,
#topic-menu a {
	color: #E5E5E5;
	font-size: 17px;
	line-height: 20px;
	font-weight: 300;
	text-decoration: none;
}

#topic-menu .selected a {
	color: #20a2bd;
}


#topic-menu ul,
#topic-menu li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#topic-menu li,
#topic-menu h2 {
	border: none !important;
}

#topic-menu li a,
#topic-menu h2 a {
	display: block;
	background-repeat: no-repeat;
	background-size: 35px !important;
	padding: 15px 15px 15px 57px;
	background-position: 10px 5px !important;
}

#topic-menu h2 a {
	font-size: 22px;
	background-position: 20px 8px !important;
}

#topic-menu h2 {
	padding: 0;
	margin: 0;
}

#topic-menu img {
	width: 342px;
}


/*
.topic-list.ng-enter,
.topic-list.ng-leave,
.topic-list.ng-move {
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}

.topic-list.ng-enter,
.topic-list.ng-move {
	margin-left: 330px !important;
}

.topic-list.ng-move.ng-move-active,
.topic-list.ng-enter.ng-enter-active {
	margin-left: 0 !important;
}

.topic-list.ng-leave {
	margin-left: 0 !important;
}

.topic-list.ng-leave.ng-leave-active {
	margin-left: -330px !important;
}
*/



/*  TOOLBOX MENU  */
#toolbox-menu,
#toolbox-menu-shadow {
	position: absolute;
	left: 0px;
	bottom: -177px;
	width: 100% !important;
	height: 172px !important;
	-webkit-transition: all 300ms;
}

#toolbox-menu {
	background-image: url('/img/map_toolbox.png');
	background-repeat: no-repeat;
	background-size: auto 172px;
}


/*  MAP NAVIGATION  */
#map-nav-menu {
	position: absolute;
	width: 96px;
	top: 30px;
	right: 78px;
}

.map-nav-button {
	width: 48px;
	height: 50px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
}

.map-nav-button.gonorth {
	background-image: url('/img/icon-31.png');
}

.map-nav-button.goswiss {
	background-image: url('/img/icon-32.png');
}


/* MEDIA QUERIES*/

@media screen and (orientation:portrait) {
	
	#toolbox-menu {
		background-image: url('/img/map_toolbox_portrait.png');
	}

	.menu .scroller{
		height:1024px;
	}
}
