html, body {
	font-family: 'Roboto Slab', serif;
	overflow: hidden;
}




/*  Map Structure  */

#map_canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}



#shield {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 90;
	background-color: red;
}



#group-left-1 {
	position: absolute;
	left: 0px;
	top: 15;
	-webkit-transition: all 300ms;
}

#group-left-2 {
	position: absolute;
	left: 0px;
	top: 80px;
	-webkit-transition: all 300ms;
}

#group-right {
	position: absolute;
	right: 0;
	top: 15;
	-webkit-transition: all 300ms;
}

#group-bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	-webkit-transition: all 300ms;
}



.menu {
	width: 342px;
	height: 100%;
	background-color: #FFF;
	border-left: 1px #FFF solid;
	z-index: 100;
}



.button-open-left {
	z-index: 99;
	left: 327px !important;
	-webkit-transition: all 300ms;
}

.menu-open-left {
	left: 0 !important;
	-webkit-transition: all 300ms;
}

.button-open-left .button,
.button-open-left .group {
	-moz-border-radius: 0px 3px 3px 0px !important;
	-webkit-border-radius: 0px 3px 3px 0px !important;
	border-radius: 0px 3px 3px 0px !important;
}



.button-open-right {
	z-index: 99;
	right: 327px !important;
	-webkit-transition: all 300ms;
}

.menu-open-right {
	right: 0 !important;
	-webkit-transition: all 300ms;
}

.button-open-right .button,
.button-open-right .group {
	-moz-border-radius: 3px 0px 0px 3px !important;
	-webkit-border-radius: 3px 0px 0px 3px !important;
	border-radius: 3px 0px 0px 3px !important;
}



.button-open-bottom {
	z-index: 99;
	bottom: 152px !important;
	-webkit-transition: all 300ms;
}

.menu-open-bottom {
	bottom: 0 !important;
	-webkit-transition: all 300ms;
}

.button-open-bottom .button,
.button-open-bottom .group {
	-moz-border-radius: 3px 3px 0px 0px !important;
	-webkit-border-radius: 3px 3px 0px 0px !important;
	border-radius: 3px 3px 0px 0px !important;
}




/*  MAIN MENU  */
#main-menu {
	position: absolute;
	left: -343px;
	top: 0;
	-webkit-transition: all 300ms;
}





/*  OPTION MENU  */
#option-menu {
	position: absolute;
	right: -343px;
	top: 0;
	-webkit-transition: all 300ms;
}






/*  TOPIC MENU  */
#topic-menu {
	position: absolute;
	left: -343px;
	top: 0;
	background-color: #333;
	border-left: 1px #4c4c4c solid;
	-webkit-transition: all 300ms;
}

#topic-menu,
#topic-menu a {
	color: #E5E5E5;
	font-size: 17px;
	font-weight: 200;
	text-decoration: none;
}

#topic-menu ul,
#topic-menu li {
	list-style: none;
}

#topic-menu li a {
	display: block;
	height: 50px;
}

#topic-menu img {
	width: 342px;
}





/*  TOOLBOX MENU  */
#toolbox-menu {
	position: absolute;
	left: 0px;
	bottom: -172px;
	width: 100% !important;
	height: 172px !important;
	-webkit-transition: all 300ms;
	background-image: url('/img/map_toolbox.png');
	background-repeat: no-repeat;
}