html, body {
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 25pt;
	font-weight: 300;
}

p {
	font-size: 18;
	font-weight: 300;
}

.clear {
	clear: both;
}

#title{
	margin: 15px;
	padding-top: 110px

}

#logo img{
	position: fixed;
	right: 15px;
	width: 143px;
	top: 15px;

}
#items{
	top: 250px;
	left: 15px;
	display: block;
	width: 1024px;
	height: 500px;
}

#scroller{
	width:auto;
	overflow-x: scroll;
	overflow-y: hidden;
}

#items ul{
	left: -24px;
	list-style-type: none;
	width: 1500px;
	height: 500px;
}

#items li {
	float: left;
}

#items ul li { 
	list-style: none;
	float: left;
	padding: 0 10px 0 0;
	text-align:left;
	padding-bottom: 40px
}

#items ul li a {
	display: block;
	text-decoration: none;
	color: black;
	opacity: 0.75;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#items ul li a img{
	width: 365px;
}

#back {
	padding-top:110px;
	padding-left: 15px;
	margin: 15px;
}

#back #button_back{
	float: left;
	margin-left: -24px;
}


#start_options {
	width:200px;
}

#start_options ul li{
	list-style: none;
	position: fixed;
	right: 15px;
	top: 110px;
}

#start_options ul li img{
	width:50px;
}

#main-menu a{
	font-weight: 300;
	font-size: 20px;
	color: black;
	text-decoration: none;
	line-height: 50px;
}

#main-menu ul li{
	list-style: none;
}

#main-menu ul li img{
	width: 50px;
	float: left;
}

#main-menu #selected a{
	color: #00A3B9;
}

#main-menu #specific a{
	color: black;
	font-size: 15px;
	padding-left: 45px;
}