html, body {
	font-family: 'Roboto Slab', serif;
}

h1 {
	position: absolute;
	margin: 15px;
	top: 100px;
	font-size: 25pt;
}

#logo img{
	position: absolute;
	right: 15px;
	top: 15px;

}
#projects{
	position: absolute;
	top: 300px;
	left: 15px;
	display: block;
	height: 500px;
}

#projects ul{
	list-style-type: none;
}

#projects ul li { 
	list-style: none;
	float: left;
	padding: 0 10px 0 0;
	text-align:left;
	padding-bottom: 40px
}

#projects ul li a {
	display: block;
	opacity: 0.75;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#projects ul li a img{
	width: 730px;
}
