<!--
<div id ="panel">
	<input type="button" value="Toggle visibility" onclick="overlay.toggle();"></input>
	<input type="button" value="Toggle DOM attachment" onclick="overlay.toggleDOM();"></input>
</div>
-->

<div id="map_canvas"></div>




<div id="group-left-1" data-alignment="left">
	<div>
		<a id="button" data-menu-id="main-menu" href="" class="button main-menu"></a>
	</div>
</div>

<div id="main-menu" class="menu">
	<ul>
		<li class="selected"><a class="back" href="#/projects2">Bildung an der Grenze</a></li>
		<ul>
			<li><a href="#/projects2">Als neue Karte speichern</a></li>
			<li><a href="#/map">Karte zurücksetzen</a></li>
		</ul>
	</ul>
	<ul>
		<li><a class="map" href="#">Karten aus dem Projekt</a></li>
		<ul>
			<li><a href="#/map">Erwerbstätigkeit Frauen</a></li>
			<li><a href="#/map">Pendler und Arbeitslosigkeit</a></li>
			<li><a href="#/map">Auslender arbeitslos</a></li>
		</ul>
	</ul>
	<ul>
		<li><a class="project-overview" href="#/">Projektübersicht</a></li>
		<li><a class="settings" href="#/settings">Einstellungen</a></li>
		<li><a class="help" href="#/help">Hilfe</a></li>
		<li><a class="intro" href="#/intro">Kurzeinführung</a></li>
		<li><a class="impress" href="#/impress">Impressum</a></li>
	</ul>
</div>
<div id="main-menu-shadow" class="shadow"></div>




<div id="group-left-2"  data-alignment="left" class="">
	<div class="group negative ">
		<a ng-repeat="topic in topicActiveTopics" ng-click="{{topic.ctrlAction}}" id="button" data-menu-id="topic-menu" href="" class="button {{topic.iconClass}} button-touch"></a>
		<a ng-click="newTopic()" id="button" data-menu-id="topic-menu" href="" class="button add"></a>
	</div>
</div>

<div id="topic-menu" class="menu">
	<h2 class="negative">
		<a ng-click="navigateTopicBack()" href="" class="{{topicBackIcon}}">{{topicTitle}}</a>
	</h2>
	<ul>
		<li ng-repeat="elements in topicList" class="negative {{elements.class}} topic-list">
			<a ng-click="navigateTopic({{$index}})" href="" class="{{elements.icon}}">{{elements.name}}</a>
		</li>
	</ul>
</div>
<div id="topic-menu-shadow" class="shadow"></div>




<div id="group-right" data-alignment="right">
	<div class="group">
		<a ng-click="search()" href="" data-menu-id="option-menu" class="button search"></a>
		<a ng-click="legend()" href="" data-menu-id="option-menu" class="button legend"></a>
		<a ng-click="options()" href="" data-menu-id="option-menu" class="button map-options"></a>
	</div>
</div>

<div ng-switch on="optenMenuValue" id="option-menu" class="menu">
	<img ng-switch-when="search1" ng-click="search(2)" src="img/map_suche_empty.png" alt="" />
	<img ng-switch-when="search2" ng-click="search(3)" src="img/map_suche.png" alt="" />
	<div ng-switch-when="legend">
		<img ng-repeat="image in images" src="{{image}}" alt="">
	</div>
	<img ng-switch-when="options" src="img/map_basiskartenoptionen.png" alt="">
</div>
<div id="option-menu-shadow" class="shadow"></div>




<div id="map-nav-menu">
	<div class="map-nav-button gonorth"></div>
	<div class="map-nav-button goswiss"></div>
</div>




<div id="group-bottom" data-alignment="bottom">
	<div class="group">
		<a href="" data-menu-id="toolbox-menu" class="button toolbox-open"></a>
	</div>
</div>

<div id="toolbox-menu" class="menu">
	<img src="" alt="">
</div>
<div id="toolbox-menu-shadow" class="shadow"></div>